################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Evora.API/.vs/Evora.API/v17
/.vs
/Evora.API/.vs/Evora.API
/Evora.API/Evora.Service/obj
/Evora.API/Evora.Repository/obj
/Evora.API/Evora.Interface/obj
/Evora.API/Evora.Domain/obj
/Evora.API/Evora.API/obj
/Evora.API/.vs/ProjectEvaluation
/Evora.API/Evora.API/bin/Debug/net8.0
/Evora.API/Evora.Domain/bin/Debug/net8.0
/Evora.API/Evora.Interface/bin/Debug/net8.0
/Evora.API/Evora.Repository/bin/Debug/net8.0
/Evora.API/Evora.Service/bin/Debug/net8.0
